FoJaJo/FoJaJo/Connected Services/FoJaJoWebService/FoJaJoWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://fojajo.ics.lu.se" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://fojajo.ics.lu.se" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://fojajo.ics.lu.se">
      <s:element name="FindFile">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="filePath" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FindFileResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FindFileResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPlayer">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPlayerResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetPlayerResult" type="tns:Player" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Player">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Rating" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="TotalWins" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetAllPlayers">
        <s:complexType />
      </s:element>
      <s:element name="GetAllPlayersResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllPlayersResult" type="tns:ArrayOfPlayer" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfPlayer">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Player" nillable="true" type="tns:Player" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetAllGames">
        <s:complexType />
      </s:element>
      <s:element name="GetAllGamesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllGamesResult" type="tns:ArrayOfGame" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfGame">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Game" nillable="true" type="tns:Game" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Game">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="GameID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="StartedPlayerUsername" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="StartedPlayer" type="tns:Player" />
          <s:element minOccurs="1" maxOccurs="1" name="MaxNumberOfPlayers" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="BoardDimension" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ResultID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Result" type="tns:Result" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Result">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ResultId" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Reason" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="SelectCompany">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="companyName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SelectCompanyResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SelectCompanyResult" type="tns:Company" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Company">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="timestamp" type="s:base64Binary" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="SelectAllCompany">
        <s:complexType />
      </s:element>
      <s:element name="SelectAllCompanyResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SelectAllCompanyResult" type="tns:ArrayOfCompany" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfCompany">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Company" nillable="true" type="tns:Company" />
        </s:sequence>
      </s:complexType>
      <s:element name="AddCompany">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="companyName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="description" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddCompanyResponse">
        <s:complexType />
      </s:element>
      <s:element name="RemoveCompany">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="companyName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RemoveCompanyResponse">
        <s:complexType />
      </s:element>
      <s:element name="UpdateCompany">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="oldCompanyName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="description" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateCompanyResponse">
        <s:complexType />
      </s:element>
      <s:element name="GetAllEmployee">
        <s:complexType />
      </s:element>
      <s:element name="GetAllEmployeeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllEmployeeResult" type="tns:ArrayOfCRONUS_Sverige_AB_Employee" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfCRONUS_Sverige_AB_Employee">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="CRONUS_Sverige_AB_Employee" nillable="true" type="tns:CRONUS_Sverige_AB_Employee" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="CRONUS_Sverige_AB_Employee">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="timestamp" type="s:base64Binary" />
          <s:element minOccurs="0" maxOccurs="1" name="No_" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="First_Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Middle_Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Last_Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Initials" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Job_Title" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Search_Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Address" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Address_2" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="City" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Post_Code" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="County" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Phone_No_" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Mobile_Phone_No_" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="E_Mail" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Alt__Address_Code" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Alt__Address_Start_Date" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="Alt__Address_End_Date" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="Picture" type="s:base64Binary" />
          <s:element minOccurs="1" maxOccurs="1" name="Birth_Date" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="Social_Security_No_" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Union_Code" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Union_Membership_No_" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Sex" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Country_Region_Code" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Manager_No_" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Emplymt__Contract_Code" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Statistics_Group_Code" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Employment_Date" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="Status" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Inactive_Date" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="Cause_of_Inactivity_Code" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Termination_Date" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="Grounds_for_Term__Code" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Global_Dimension_1_Code" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Global_Dimension_2_Code" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Resource_No_" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Last_Date_Modified" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="Extension" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Pager" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Fax_No_" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Company_E_Mail" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Title" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Salespers__Purch__Code" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="No__Series" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetAllEmployeeAbsence">
        <s:complexType />
      </s:element>
      <s:element name="GetAllEmployeeAbsenceResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllEmployeeAbsenceResult" type="tns:ArrayOfCRONUS_Sverige_AB_Employee_Absence" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfCRONUS_Sverige_AB_Employee_Absence">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="CRONUS_Sverige_AB_Employee_Absence" nillable="true" type="tns:CRONUS_Sverige_AB_Employee_Absence" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="CRONUS_Sverige_AB_Employee_Absence">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="timestamp" type="s:base64Binary" />
          <s:element minOccurs="1" maxOccurs="1" name="Entry_No_" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Employee_No_" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="From_Date" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="To_Date" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="Cause_of_Absence_Code" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Quantity" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="Unit_of_Measure_Code" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Quantity__Base_" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="Qty__per_Unit_of_Measure" type="s:decimal" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetAllEmployeePortalSetup">
        <s:complexType />
      </s:element>
      <s:element name="GetAllEmployeePortalSetupResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllEmployeePortalSetupResult" type="tns:ArrayOfCRONUS_Sverige_AB_Employee_Portal_Setup" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfCRONUS_Sverige_AB_Employee_Portal_Setup">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="CRONUS_Sverige_AB_Employee_Portal_Setup" nillable="true" type="tns:CRONUS_Sverige_AB_Employee_Portal_Setup" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="CRONUS_Sverige_AB_Employee_Portal_Setup">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="timestamp" type="s:base64Binary" />
          <s:element minOccurs="0" maxOccurs="1" name="Primary_Key" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Search_Limit" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Temp__Key_Index" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Temp__Table_No_" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Temp__Key_String" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Temp__Option_Value" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Temp__Option_Caption" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Temp__SharePoint_Site_Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Back_End_Public_Key" type="s:base64Binary" />
          <s:element minOccurs="0" maxOccurs="1" name="Back_End_Private_Key" type="s:base64Binary" />
          <s:element minOccurs="1" maxOccurs="1" name="Write_Debugging_Info_" type="s:unsignedByte" />
          <s:element minOccurs="1" maxOccurs="1" name="Config_Tool_Pane_Caption_ID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Config_TP_WP_Request_Capt_ID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Config_TP_Initial_Req__Capt_ID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Config_TP_Group_Capt_ID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Search_Tool_Pane_Caption_ID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Search_Config_Table_ID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Search_TP_All_Tables_Capt_ID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Config_Tool_Pane_Caption" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Config_TP_WP_Request_Caption" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Config_TP_Initial_Req__Caption" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Config_TP_Group_Caption" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Search_Tool_Pane_Caption" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Search_Config_Table_Caption" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Search_TP_All_Tables_Caption" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Debugging_Path" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetAllEmployeeQualification">
        <s:complexType />
      </s:element>
      <s:element name="GetAllEmployeeQualificationResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllEmployeeQualificationResult" type="tns:ArrayOfCRONUS_Sverige_AB_Employee_Qualification" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfCRONUS_Sverige_AB_Employee_Qualification">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="CRONUS_Sverige_AB_Employee_Qualification" nillable="true" type="tns:CRONUS_Sverige_AB_Employee_Qualification" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="CRONUS_Sverige_AB_Employee_Qualification">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="timestamp" type="s:base64Binary" />
          <s:element minOccurs="0" maxOccurs="1" name="Employee_No_" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Line_No_" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Qualification_Code" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="From_Date" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="To_Date" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="Type" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Institution_Company" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Cost" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="Course_Grade" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Employee_Status" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Expiration_Date" type="s:dateTime" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetMetaColumns1">
        <s:complexType />
      </s:element>
      <s:element name="GetMetaColumns1Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetMetaColumns1Result" type="tns:ArrayOfMetaDataColumn" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfMetaDataColumn">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="MetaDataColumn" nillable="true" type="tns:MetaDataColumn" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="MetaDataColumn">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Table_Catalog" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Table_Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Data_Type" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetMetaColumns2">
        <s:complexType />
      </s:element>
      <s:element name="GetMetaColumns2Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetMetaColumns2Result" type="tns:ArrayOfMetaDataColumn2" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfMetaDataColumn2">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="MetaDataColumn2" nillable="true" type="tns:MetaDataColumn2" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="MetaDataColumn2">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="User_type_Id" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Object_Id" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetMetaIndexes">
        <s:complexType />
      </s:element>
      <s:element name="GetMetaIndexesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetMetaIndexesResult" type="tns:ArrayOfMetaDataIndex" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfMetaDataIndex">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="MetaDataIndex" nillable="true" type="tns:MetaDataIndex" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="MetaDataIndex">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Object_Id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Type_Desc" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetMetaConstraints">
        <s:complexType />
      </s:element>
      <s:element name="GetMetaConstraintsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetMetaConstraintsResult" type="tns:ArrayOfMetaDataTableConstraint" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfMetaDataTableConstraint">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="MetaDataTableConstraint" nillable="true" type="tns:MetaDataTableConstraint" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="MetaDataTableConstraint">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Constraint_Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Table_Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Constraint_Type" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetMetaKeys">
        <s:complexType />
      </s:element>
      <s:element name="GetMetaKeysResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetMetaKeysResult" type="tns:ArrayOfMetaDataKey" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfMetaDataKey">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="MetaDataKey" nillable="true" type="tns:MetaDataKey" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="MetaDataKey">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Object_Id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Type" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetAllEmployeeRelative">
        <s:complexType />
      </s:element>
      <s:element name="GetAllEmployeeRelativeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllEmployeeRelativeResult" type="tns:ArrayOfCRONUS_Sverige_AB_Employee_Relative" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfCRONUS_Sverige_AB_Employee_Relative">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="CRONUS_Sverige_AB_Employee_Relative" nillable="true" type="tns:CRONUS_Sverige_AB_Employee_Relative" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="CRONUS_Sverige_AB_Employee_Relative">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="timestamp" type="s:base64Binary" />
          <s:element minOccurs="0" maxOccurs="1" name="Employee_No_" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Line_No_" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Relative_Code" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="First_Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Middle_Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Last_Name" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Birth_Date" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="Phone_No_" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Relative_s_Employee_No_" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetMetaTables">
        <s:complexType />
      </s:element>
      <s:element name="GetMetaTablesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetMetaTablesResult" type="tns:ArrayOfMetaDataTable" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfMetaDataTable">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="MetaDataTable" nillable="true" type="tns:MetaDataTable" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="MetaDataTable">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Table_Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Table_Type" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetMetaTables2">
        <s:complexType />
      </s:element>
      <s:element name="GetMetaTables2Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetMetaTables2Result" type="tns:ArrayOfMetaDataTable2" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfMetaDataTable2">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="MetaDataTable2" nillable="true" type="tns:MetaDataTable2" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="MetaDataTable2">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Object_Id" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetMostSick">
        <s:complexType />
      </s:element>
      <s:element name="GetMostSickResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetMostSickResult" type="tns:ArrayOfMostSick" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfMostSick">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="MostSick" nillable="true" type="tns:MostSick" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="MostSick">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetEmployeeRelative">
        <s:complexType />
      </s:element>
      <s:element name="GetEmployeeRelativeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetEmployeeRelativeResult" type="tns:ArrayOfEmployeeRelative" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfEmployeeRelative">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="EmployeeRelative" nillable="true" type="tns:EmployeeRelative" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="EmployeeRelative">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="EmpFirstName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="EmpLastName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="EmpJobTitle" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RelativeFirstName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RelativeCode" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetEmployeeRelatives">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="employeeNr" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetEmployeeRelativesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetEmployeeRelativesResult" type="tns:ArrayOfCRONUS_Sverige_AB_Employee_Relative" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetEmployeeAbsence">
        <s:complexType />
      </s:element>
      <s:element name="GetEmployeeAbsenceResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetEmployeeAbsenceResult" type="tns:ArrayOfCRONUS_Sverige_AB_Employee_Absence" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="FindFileSoapIn">
    <wsdl:part name="parameters" element="tns:FindFile" />
  </wsdl:message>
  <wsdl:message name="FindFileSoapOut">
    <wsdl:part name="parameters" element="tns:FindFileResponse" />
  </wsdl:message>
  <wsdl:message name="GetPlayerSoapIn">
    <wsdl:part name="parameters" element="tns:GetPlayer" />
  </wsdl:message>
  <wsdl:message name="GetPlayerSoapOut">
    <wsdl:part name="parameters" element="tns:GetPlayerResponse" />
  </wsdl:message>
  <wsdl:message name="GetAllPlayersSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllPlayers" />
  </wsdl:message>
  <wsdl:message name="GetAllPlayersSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllPlayersResponse" />
  </wsdl:message>
  <wsdl:message name="GetAllGamesSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllGames" />
  </wsdl:message>
  <wsdl:message name="GetAllGamesSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllGamesResponse" />
  </wsdl:message>
  <wsdl:message name="SelectCompanySoapIn">
    <wsdl:part name="parameters" element="tns:SelectCompany" />
  </wsdl:message>
  <wsdl:message name="SelectCompanySoapOut">
    <wsdl:part name="parameters" element="tns:SelectCompanyResponse" />
  </wsdl:message>
  <wsdl:message name="SelectAllCompanySoapIn">
    <wsdl:part name="parameters" element="tns:SelectAllCompany" />
  </wsdl:message>
  <wsdl:message name="SelectAllCompanySoapOut">
    <wsdl:part name="parameters" element="tns:SelectAllCompanyResponse" />
  </wsdl:message>
  <wsdl:message name="AddCompanySoapIn">
    <wsdl:part name="parameters" element="tns:AddCompany" />
  </wsdl:message>
  <wsdl:message name="AddCompanySoapOut">
    <wsdl:part name="parameters" element="tns:AddCompanyResponse" />
  </wsdl:message>
  <wsdl:message name="RemoveCompanySoapIn">
    <wsdl:part name="parameters" element="tns:RemoveCompany" />
  </wsdl:message>
  <wsdl:message name="RemoveCompanySoapOut">
    <wsdl:part name="parameters" element="tns:RemoveCompanyResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateCompanySoapIn">
    <wsdl:part name="parameters" element="tns:UpdateCompany" />
  </wsdl:message>
  <wsdl:message name="UpdateCompanySoapOut">
    <wsdl:part name="parameters" element="tns:UpdateCompanyResponse" />
  </wsdl:message>
  <wsdl:message name="GetAllEmployeeSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllEmployee" />
  </wsdl:message>
  <wsdl:message name="GetAllEmployeeSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllEmployeeResponse" />
  </wsdl:message>
  <wsdl:message name="GetAllEmployeeAbsenceSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllEmployeeAbsence" />
  </wsdl:message>
  <wsdl:message name="GetAllEmployeeAbsenceSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllEmployeeAbsenceResponse" />
  </wsdl:message>
  <wsdl:message name="GetAllEmployeePortalSetupSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllEmployeePortalSetup" />
  </wsdl:message>
  <wsdl:message name="GetAllEmployeePortalSetupSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllEmployeePortalSetupResponse" />
  </wsdl:message>
  <wsdl:message name="GetAllEmployeeQualificationSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllEmployeeQualification" />
  </wsdl:message>
  <wsdl:message name="GetAllEmployeeQualificationSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllEmployeeQualificationResponse" />
  </wsdl:message>
  <wsdl:message name="GetMetaColumns1SoapIn">
    <wsdl:part name="parameters" element="tns:GetMetaColumns1" />
  </wsdl:message>
  <wsdl:message name="GetMetaColumns1SoapOut">
    <wsdl:part name="parameters" element="tns:GetMetaColumns1Response" />
  </wsdl:message>
  <wsdl:message name="GetMetaColumns2SoapIn">
    <wsdl:part name="parameters" element="tns:GetMetaColumns2" />
  </wsdl:message>
  <wsdl:message name="GetMetaColumns2SoapOut">
    <wsdl:part name="parameters" element="tns:GetMetaColumns2Response" />
  </wsdl:message>
  <wsdl:message name="GetMetaIndexesSoapIn">
    <wsdl:part name="parameters" element="tns:GetMetaIndexes" />
  </wsdl:message>
  <wsdl:message name="GetMetaIndexesSoapOut">
    <wsdl:part name="parameters" element="tns:GetMetaIndexesResponse" />
  </wsdl:message>
  <wsdl:message name="GetMetaConstraintsSoapIn">
    <wsdl:part name="parameters" element="tns:GetMetaConstraints" />
  </wsdl:message>
  <wsdl:message name="GetMetaConstraintsSoapOut">
    <wsdl:part name="parameters" element="tns:GetMetaConstraintsResponse" />
  </wsdl:message>
  <wsdl:message name="GetMetaKeysSoapIn">
    <wsdl:part name="parameters" element="tns:GetMetaKeys" />
  </wsdl:message>
  <wsdl:message name="GetMetaKeysSoapOut">
    <wsdl:part name="parameters" element="tns:GetMetaKeysResponse" />
  </wsdl:message>
  <wsdl:message name="GetAllEmployeeRelativeSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllEmployeeRelative" />
  </wsdl:message>
  <wsdl:message name="GetAllEmployeeRelativeSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllEmployeeRelativeResponse" />
  </wsdl:message>
  <wsdl:message name="GetMetaTablesSoapIn">
    <wsdl:part name="parameters" element="tns:GetMetaTables" />
  </wsdl:message>
  <wsdl:message name="GetMetaTablesSoapOut">
    <wsdl:part name="parameters" element="tns:GetMetaTablesResponse" />
  </wsdl:message>
  <wsdl:message name="GetMetaTables2SoapIn">
    <wsdl:part name="parameters" element="tns:GetMetaTables2" />
  </wsdl:message>
  <wsdl:message name="GetMetaTables2SoapOut">
    <wsdl:part name="parameters" element="tns:GetMetaTables2Response" />
  </wsdl:message>
  <wsdl:message name="GetMostSickSoapIn">
    <wsdl:part name="parameters" element="tns:GetMostSick" />
  </wsdl:message>
  <wsdl:message name="GetMostSickSoapOut">
    <wsdl:part name="parameters" element="tns:GetMostSickResponse" />
  </wsdl:message>
  <wsdl:message name="GetEmployeeRelativeSoapIn">
    <wsdl:part name="parameters" element="tns:GetEmployeeRelative" />
  </wsdl:message>
  <wsdl:message name="GetEmployeeRelativeSoapOut">
    <wsdl:part name="parameters" element="tns:GetEmployeeRelativeResponse" />
  </wsdl:message>
  <wsdl:message name="GetEmployeeRelativesSoapIn">
    <wsdl:part name="parameters" element="tns:GetEmployeeRelatives" />
  </wsdl:message>
  <wsdl:message name="GetEmployeeRelativesSoapOut">
    <wsdl:part name="parameters" element="tns:GetEmployeeRelativesResponse" />
  </wsdl:message>
  <wsdl:message name="GetEmployeeAbsenceSoapIn">
    <wsdl:part name="parameters" element="tns:GetEmployeeAbsence" />
  </wsdl:message>
  <wsdl:message name="GetEmployeeAbsenceSoapOut">
    <wsdl:part name="parameters" element="tns:GetEmployeeAbsenceResponse" />
  </wsdl:message>
  <wsdl:portType name="FoJaJoWebServiceSoap">
    <wsdl:operation name="FindFile">
      <wsdl:input message="tns:FindFileSoapIn" />
      <wsdl:output message="tns:FindFileSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetPlayer">
      <wsdl:input message="tns:GetPlayerSoapIn" />
      <wsdl:output message="tns:GetPlayerSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllPlayers">
      <wsdl:input message="tns:GetAllPlayersSoapIn" />
      <wsdl:output message="tns:GetAllPlayersSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllGames">
      <wsdl:input message="tns:GetAllGamesSoapIn" />
      <wsdl:output message="tns:GetAllGamesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SelectCompany">
      <wsdl:input message="tns:SelectCompanySoapIn" />
      <wsdl:output message="tns:SelectCompanySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SelectAllCompany">
      <wsdl:input message="tns:SelectAllCompanySoapIn" />
      <wsdl:output message="tns:SelectAllCompanySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddCompany">
      <wsdl:input message="tns:AddCompanySoapIn" />
      <wsdl:output message="tns:AddCompanySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RemoveCompany">
      <wsdl:input message="tns:RemoveCompanySoapIn" />
      <wsdl:output message="tns:RemoveCompanySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateCompany">
      <wsdl:input message="tns:UpdateCompanySoapIn" />
      <wsdl:output message="tns:UpdateCompanySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllEmployee">
      <wsdl:input message="tns:GetAllEmployeeSoapIn" />
      <wsdl:output message="tns:GetAllEmployeeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllEmployeeAbsence">
      <wsdl:input message="tns:GetAllEmployeeAbsenceSoapIn" />
      <wsdl:output message="tns:GetAllEmployeeAbsenceSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllEmployeePortalSetup">
      <wsdl:input message="tns:GetAllEmployeePortalSetupSoapIn" />
      <wsdl:output message="tns:GetAllEmployeePortalSetupSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllEmployeeQualification">
      <wsdl:input message="tns:GetAllEmployeeQualificationSoapIn" />
      <wsdl:output message="tns:GetAllEmployeeQualificationSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetMetaColumns1">
      <wsdl:input message="tns:GetMetaColumns1SoapIn" />
      <wsdl:output message="tns:GetMetaColumns1SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetMetaColumns2">
      <wsdl:input message="tns:GetMetaColumns2SoapIn" />
      <wsdl:output message="tns:GetMetaColumns2SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetMetaIndexes">
      <wsdl:input message="tns:GetMetaIndexesSoapIn" />
      <wsdl:output message="tns:GetMetaIndexesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetMetaConstraints">
      <wsdl:input message="tns:GetMetaConstraintsSoapIn" />
      <wsdl:output message="tns:GetMetaConstraintsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetMetaKeys">
      <wsdl:input message="tns:GetMetaKeysSoapIn" />
      <wsdl:output message="tns:GetMetaKeysSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllEmployeeRelative">
      <wsdl:input message="tns:GetAllEmployeeRelativeSoapIn" />
      <wsdl:output message="tns:GetAllEmployeeRelativeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetMetaTables">
      <wsdl:input message="tns:GetMetaTablesSoapIn" />
      <wsdl:output message="tns:GetMetaTablesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetMetaTables2">
      <wsdl:input message="tns:GetMetaTables2SoapIn" />
      <wsdl:output message="tns:GetMetaTables2SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetMostSick">
      <wsdl:input message="tns:GetMostSickSoapIn" />
      <wsdl:output message="tns:GetMostSickSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetEmployeeRelative">
      <wsdl:input message="tns:GetEmployeeRelativeSoapIn" />
      <wsdl:output message="tns:GetEmployeeRelativeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetEmployeeRelatives">
      <wsdl:input message="tns:GetEmployeeRelativesSoapIn" />
      <wsdl:output message="tns:GetEmployeeRelativesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetEmployeeAbsence">
      <wsdl:input message="tns:GetEmployeeAbsenceSoapIn" />
      <wsdl:output message="tns:GetEmployeeAbsenceSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="FoJaJoWebServiceSoap" type="tns:FoJaJoWebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="FindFile">
      <soap:operation soapAction="http://fojajo.ics.lu.se/FindFile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPlayer">
      <soap:operation soapAction="http://fojajo.ics.lu.se/GetPlayer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllPlayers">
      <soap:operation soapAction="http://fojajo.ics.lu.se/GetAllPlayers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllGames">
      <soap:operation soapAction="http://fojajo.ics.lu.se/GetAllGames" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectCompany">
      <soap:operation soapAction="http://fojajo.ics.lu.se/SelectCompany" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectAllCompany">
      <soap:operation soapAction="http://fojajo.ics.lu.se/SelectAllCompany" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddCompany">
      <soap:operation soapAction="http://fojajo.ics.lu.se/AddCompany" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveCompany">
      <soap:operation soapAction="http://fojajo.ics.lu.se/RemoveCompany" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateCompany">
      <soap:operation soapAction="http://fojajo.ics.lu.se/UpdateCompany" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllEmployee">
      <soap:operation soapAction="http://fojajo.ics.lu.se/GetAllEmployee" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllEmployeeAbsence">
      <soap:operation soapAction="http://fojajo.ics.lu.se/GetAllEmployeeAbsence" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllEmployeePortalSetup">
      <soap:operation soapAction="http://fojajo.ics.lu.se/GetAllEmployeePortalSetup" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllEmployeeQualification">
      <soap:operation soapAction="http://fojajo.ics.lu.se/GetAllEmployeeQualification" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMetaColumns1">
      <soap:operation soapAction="http://fojajo.ics.lu.se/GetMetaColumns1" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMetaColumns2">
      <soap:operation soapAction="http://fojajo.ics.lu.se/GetMetaColumns2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMetaIndexes">
      <soap:operation soapAction="http://fojajo.ics.lu.se/GetMetaIndexes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMetaConstraints">
      <soap:operation soapAction="http://fojajo.ics.lu.se/GetMetaConstraints" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMetaKeys">
      <soap:operation soapAction="http://fojajo.ics.lu.se/GetMetaKeys" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllEmployeeRelative">
      <soap:operation soapAction="http://fojajo.ics.lu.se/GetAllEmployeeRelative" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMetaTables">
      <soap:operation soapAction="http://fojajo.ics.lu.se/GetMetaTables" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMetaTables2">
      <soap:operation soapAction="http://fojajo.ics.lu.se/GetMetaTables2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMostSick">
      <soap:operation soapAction="http://fojajo.ics.lu.se/GetMostSick" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEmployeeRelative">
      <soap:operation soapAction="http://fojajo.ics.lu.se/GetEmployeeRelative" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEmployeeRelatives">
      <soap:operation soapAction="http://fojajo.ics.lu.se/GetEmployeeRelatives" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEmployeeAbsence">
      <soap:operation soapAction="http://fojajo.ics.lu.se/GetEmployeeAbsence" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="FoJaJoWebServiceSoap12" type="tns:FoJaJoWebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="FindFile">
      <soap12:operation soapAction="http://fojajo.ics.lu.se/FindFile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPlayer">
      <soap12:operation soapAction="http://fojajo.ics.lu.se/GetPlayer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllPlayers">
      <soap12:operation soapAction="http://fojajo.ics.lu.se/GetAllPlayers" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllGames">
      <soap12:operation soapAction="http://fojajo.ics.lu.se/GetAllGames" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectCompany">
      <soap12:operation soapAction="http://fojajo.ics.lu.se/SelectCompany" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectAllCompany">
      <soap12:operation soapAction="http://fojajo.ics.lu.se/SelectAllCompany" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddCompany">
      <soap12:operation soapAction="http://fojajo.ics.lu.se/AddCompany" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveCompany">
      <soap12:operation soapAction="http://fojajo.ics.lu.se/RemoveCompany" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateCompany">
      <soap12:operation soapAction="http://fojajo.ics.lu.se/UpdateCompany" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllEmployee">
      <soap12:operation soapAction="http://fojajo.ics.lu.se/GetAllEmployee" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllEmployeeAbsence">
      <soap12:operation soapAction="http://fojajo.ics.lu.se/GetAllEmployeeAbsence" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllEmployeePortalSetup">
      <soap12:operation soapAction="http://fojajo.ics.lu.se/GetAllEmployeePortalSetup" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllEmployeeQualification">
      <soap12:operation soapAction="http://fojajo.ics.lu.se/GetAllEmployeeQualification" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMetaColumns1">
      <soap12:operation soapAction="http://fojajo.ics.lu.se/GetMetaColumns1" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMetaColumns2">
      <soap12:operation soapAction="http://fojajo.ics.lu.se/GetMetaColumns2" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMetaIndexes">
      <soap12:operation soapAction="http://fojajo.ics.lu.se/GetMetaIndexes" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMetaConstraints">
      <soap12:operation soapAction="http://fojajo.ics.lu.se/GetMetaConstraints" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMetaKeys">
      <soap12:operation soapAction="http://fojajo.ics.lu.se/GetMetaKeys" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllEmployeeRelative">
      <soap12:operation soapAction="http://fojajo.ics.lu.se/GetAllEmployeeRelative" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMetaTables">
      <soap12:operation soapAction="http://fojajo.ics.lu.se/GetMetaTables" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMetaTables2">
      <soap12:operation soapAction="http://fojajo.ics.lu.se/GetMetaTables2" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMostSick">
      <soap12:operation soapAction="http://fojajo.ics.lu.se/GetMostSick" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEmployeeRelative">
      <soap12:operation soapAction="http://fojajo.ics.lu.se/GetEmployeeRelative" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEmployeeRelatives">
      <soap12:operation soapAction="http://fojajo.ics.lu.se/GetEmployeeRelatives" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEmployeeAbsence">
      <soap12:operation soapAction="http://fojajo.ics.lu.se/GetEmployeeAbsence" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="FoJaJoWebService">
    <wsdl:port name="FoJaJoWebServiceSoap" binding="tns:FoJaJoWebServiceSoap">
      <soap:address location="http://localhost:62463/FoJaJoWebService.asmx" />
    </wsdl:port>
    <wsdl:port name="FoJaJoWebServiceSoap12" binding="tns:FoJaJoWebServiceSoap12">
      <soap12:address location="http://localhost:62463/FoJaJoWebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>